@import "tailwindcss";

:root {
  --primary: #111111;
  --gold: #D4AF37;
  --navy: #0F2D52;
  --ivory: #FAF9F6;
}

body {
  font-family: var(--font-inter);
  background-color: var(--ivory);
  color: var(--primary);
}

.font-heading {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}